p.color1 {
    border-style: solid;
    border-color: #FF6347;
    }
    p.color2 {
        border-style: solid;
        border-color: #1E90FF ;
        }
        p.color3 {
            border-style: solid;
            border-color: #EE82EE ;
            }